# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter/Dart/Pub
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android
android/app/libs/
android/app/src/main/assets/
android/app/src/main/jniLibs/
android/app/src/main/res/
android/gradle/
android/gradle/wrapper/gradle-wrapper.properties
android/.gradle
android/captures/
android/gradlew
android/gradlew.bat
android/local.properties
android/project.properties
android/*.iml

# iOS
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/flutter_export_environment.sh
ios/ServiceDefinitions.json
ios/Runner/GeneratedPluginRegistrant.h
ios/Runner/GeneratedPluginRegistrant.m
ios/.generated/
ios/Pods/
ios/Podfile.lock

# Windows
windows/flutter/ephemeral/
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/runner/resources/

# Linux
linux/flutter/ephemeral/
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h

# macOS
macos/Flutter/ephemeral/
macos/Flutter/generated_plugin_registrant.swift

# Web
web/icons/Icon-192.png
web/icons/Icon-512.png
web/favicon.png